@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400&family=Oswald&display=swap');

/* Table of Contents
   -----------------
   RESET
   UTILITIES
   TYPOGRAPHY & COLOURS
   DECORATION
   - Icons
   - Headings
   - Form Elements & Buttons
   - Cards
   SITE STRUCTURE
    - Main Header & Navigation
    - Hero Section
    - Your Job
    - Our Job
    - Let's Go
    - Footer
    MEDIA QUERIES
    - Desktops
    - Laptops
    - Tablet (Landscape)
    - Tablet (Portrait)
    - Phone (Landscape)
    - Phone (Portrait)
   -----------------
 */



/* -- RESET -- */
html {
    font-size: 62.5%; /* Sets font size to 10px so 1 REM = 10px */
    }

body {
    font-size: 1.6rem; /* Resets the normal font size for everything to 16px so it's readable. */
    margin: 0;
    padding: 0;
}


/* -- UTILITIES -- */
html, * {
    scroll-behavior: smooth!important; /* Pure CSS smooth scrolling */
}

a,
a:hover,
button,
button:hover,
#social-media a i,
#social-media a:hover i,
#back-to-top a i,
#back-to-top a:hover i {
    transition: all 300ms ease-in-out;
}

footer a:hover i {
    transform: rotateY(360deg);
}

.overlay {
    background-color: rgba(26, 33, 33, 0.8);
}

button {
    padding: 10px 15px;
    margin: 0 auto;
}


/* -- TYPOGRAPHY & COLOURS -- */
body {
    font-family:  'Fira Sans', sans-serif;
    color: #3a3a3a;
    letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

h3 {
    text-align: center;
}

ul, li {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.logo-text {
    line-height: 2rem;
}

.logo-text em {
    font-size: 2.4rem;
}

.logo-text em:last-child {
    font-size: 1.5rem;
    letter-spacing: 0.01rem;
}

#logo:hover em {
    font-style: normal;
}

header a,
footer a {
    text-decoration: none;
}

header a {
    color: #3a3a3a;
}

nav a {
    font-size: 1.8rem;
}

nav a:hover {
    color: #4d7f14;
}

#your-job {
    background-color: #FBEEDF;
}

.section-heading {
    color: #4d7f14;
    font-size: 4rem;
    letter-spacing: 4px;
}

.section-intro,
#your-job li {
    font-size: 2rem;
}

#your-job li i {
    font-size: 1.2em;
}

.section-intro {
    line-height: 3rem;
    text-align: center;
}

.overlay {
    color: #fff;
}

aside h2,
.card h3 {
    letter-spacing: 2px;
}

aside h2 {
    font-size: 3.2rem;
}

.card h3 {
    background-color: #4d7f14;
    font-size: 3rem;
}

.card h3,
#lets-go,
#lets-go .section-heading {
    color: #fff;
}

#lets-go {
    background-color: #5b9718;
}

form {
    font-size: 2rem;
}

.required {
    font-size: 1.3rem;
}

button {
    background-color: #ed8a00;
    color: #fff;
    font-size: 2rem;
    letter-spacing: 0.14rem;
}

button:hover {
    background-color: #fff;
    color: #ed8a00;
}

footer,
footer a {
    color: #fff;
}

footer {
    background-color: #363531;
}

footer i {
    font-size: 1.8rem;
}



/* -- DECORATION -- */

/* Icons */
.section-heading i,
#back-to-top i {
    display: block;
    text-align: center;
}

#copyright i {
    margin-right: 5px;
}

/* Headings */
.section-heading  {
    border-bottom: 2px solid;
}

/*  Form Elements & Buttons */
button,
input {
    border-radius: 3px;
}

button {
    border: 2px solid #ed8a00;
}

input {
    border: 2px solid #fff;
}

input:hover {
    border-color: #ed8a00;
}

/* Cards */
.card {
    box-shadow: inset 0px 0px 15px 5px rgb(0 0 0 / 80%);
}

/* Background Image Overlay */
.card::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    content: '';
    z-index: 0;
}



/* -- SITE STRUCTURE -- */
.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;
}

.container-inner {
    max-width: 1170px;
    padding: 70px 35px;
}

header .container-inner,
footer .container-inner {
    height: auto;
    padding: 0 35px;
}

section .container-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.control-width {
    max-width: 1700px;
    margin: 0 auto;
}

#your-job ul.control-width,
.card-container,
form {
    margin-top: 70px;
}

.section-heading {
    max-width: 5em;
    margin: 0 auto 1em;
}

.label-input-container {
    margin-top: 20px;
}

form input {
    height: 35px;
    margin-top: 5px;
}

#back-to-top i {
    margin-bottom: 1rem;
}



/* Main Header & Navigation */
#main-header {
    background: #fff;
}

#logo {
    display: flex;
    align-items:  center;
}

#logo::before {
    background:  url('../images/sombrero.webp') no-repeat center/cover;
    content:  '';
    width:  50px;
    height:  50px;
    margin:  0 5px 0 0;
}

.logo-text {
    display:  flex;
    flex-direction:  column;
    justify-content:  flex-start;
}


nav {
    width: auto;
}

#main-menu {
    margin: 15px 0;
    padding: 0;
    justify-content: space-around;
    flex-direction: row;
}

#main-menu li {
    margin: 0;
}

#main-menu li:nth-child(2) {
    margin: 0 30px;
}


/* Hero Section */
#hero {
    background: url('../images/hero-image.webp') no-repeat center/cover;
    position: relative;
    height: 600px;
}

aside {
    position: absolute;
    top: 50%;
    right: 10%;
    bottom: 50%;
    left: auto;
    text-align: center;
    width: 15%;
    height: 45%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 15px;
}

aside h2,
aside p {
    margin: 0;
    padding: 0;
}


/* Your Job */
#your-job {
    background-color: #FBF6F0;
}

#your-job .container-inner {
    justify-content: flex-start;
}

#your-job ul {
    column-count: 2;
    padding: 0;
}

#your-job li {
    text-align: left;
    list-style: none;
    margin: 0.25em auto 1em;
}

#your-job li:first-of-type {
    margin-top: 0;
}


/* Our Job */
.card-container {
    justify-content: space-evenly;
}

.lawn-treatments {
    background: url('../images/lawn-treatments.webp') no-repeat center/cover;
}

.hard-surfaces {
    background: url('../images/hard-surfaces.webp') no-repeat center/cover;
}

.card {
    position: relative;
    background-color: #cfcfcf;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 2em;
    min-height: 300px;
    padding: 1em;
    width: 33%;
    flex-direction: column;
}

.card h3,
.card .overlay,
.card button {
    position: relative;
    width: 90%;
}

.card h3 {
    margin: -5rem 0 0 0;
    padding: 1rem 0;
}

.card .overlay {
    min-height: 250px;
    margin: 3.5rem auto;
    justify-content: center;
    flex-direction: column;
}

.card h4 {
    margin-bottom: 0;
}

.card .overlay-content p {
    margin: 0.3em 0 0;
}

.card li {
    list-style: none;
}


/* Let's Go */
form {
    margin: 1.6em auto 0;
    max-width: 90%;
}

.label-input-container {
    width: 49%;
}

label,
input {
    display: block;
    box-sizing: border-box;
    width: 100%;
}

label:not(:first-of-type) {
    margin-top: 1em;
}

form button {
    display: block;
    margin: 1em 0;
}


/* Footer */
footer {
    padding: 1em;
}

footer .flex-container {
    justify-content: center;
}

footer .container-inner > .flex-container {
    width: 33%;
    margin-top: 0;
}

#social-media,
#social-media ul {
    display: flex;
    flex-direction: row;
}

#social-media {
    margin: 0;
    justify-content: flex-start;
}

#social-media li {
    margin: 0 0.8em;
}


#copyright {
    justify-content: flex-end;
}




/* MEDIA QUERIES */

/* Desktops */
@media screen
 and (min-width: 1200px) {
    header .container-inner,
    footer .container-inner {
        max-width: 100%;
    }
}

/* Laptops */
@media screen
 and (min-width: 1366px) 
 and (max-width: 1680px) {
    #hero {
        height: 400px;
    }
 }

/* Tablet (Landscape) */
@media screen
 and (min-width: 1024px) 
 and (max-width: 1366px) {
    #hero {
        height: 350px;
    }

    aside {
        width: 25%;
        height: 60%;
    }
}

/* Tablet (Portrait) */
@media screen 
and (max-width: 1024px)
and (orientation: portrait) {
    #hero {
        height: 350px;
    }

    aside {
        height: 66%;
        width: 30%;
    }

    #your-job li {
        width: 60%;
    }
}


/* Phone (Landscape) */
@media screen 
and (max-width: 844px)
and (orientation: landscape) {

    header .container-inner,
    footer .container-inner {
        padding: 0 35px;
    }
    
    #hero {
        height: 150px;
    }

    aside {
        width: 33%;
        height: 130px;
    }

    #your-job li {
        min-width: 60%;
    }

    .card,
    .label-input-container {
        width: 45%;
    }

    form {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    form > .required,
    form button {
        display: block;
    }

    form > .required {
        width: 100%;
    }

    footer > .flex-container {
        width: 30%;
    }


}

/* Phone (Portrait) */
@media screen and (max-width: 414px) {
    .flex-container {
        flex-direction: column;
    }

    .container-inner {
        height: auto;
        padding: 35px 15px;
    }

    header .container-inner,
    footer .container-inner {
        padding: 0;
    }

    nav {
        width: 100%;
    }
    #main-menu {
        justify-content: space-between;
        margin: 0 0 15px;
        padding: 0 15px;
    }

    #main-menu i {
        display: block;
        text-align: center;
    }

    #hero {
        height: 200px;
    }

    aside {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 66%;
        height: 180px;
    }

    aside h2 {
        font-size: 2.4rem;
    }

    aside button {
        font-size: 1.6rem;
        padding: 5px 10px;
    }

    #your-job ul {
        column-count: unset;
    }

    #your-job li {
        line-height: 3rem;
        padding-left: 1.2em;
        width: 100%;
    }

    #your-job li i {
        margin-left: -1.2em;
    }

    .card {
        width: 100%;
    }

    form,
    .label-input-container {
        max-width: 100%;
        width: 100%;
    }

    footer .container-inner > .flex-container {
        width: 100%;
    }


    #back-to-top {
        order: -1;
    }

    #social-media,
    #copyright {
        justify-content: center;
        margin-top: 35px;
    }

    #copyright {
        flex-direction: row;
    }


}


