
/* --- Temporary styles while building layout --- */
section,
aside {
    outline: 2px solid black;
}
img {
    max-width: 100%;
}

/* --------------------------------------------- */



/* CSS-only smooth scrolling */
html, * {
    scroll-behavior: smooth!important;
}


/* Utilities */
.overlay {
    background-color: rgba(0, 0, 0, 0.4);
}



/* Structure */
.flex-container {
    display: flex;
}


/* Main header & navigation */
#logo {
    display: block;
    margin: 15px auto;
    text-align: center;
}

#main-menu {
    margin: 15px 0;
    padding: 0;
    justify-content: space-around;
}

#main-menu li {
    list-style: none;
}

#main-menu a {
    text-decoration: none;
}



/* Hero section */
#hero {
    position: relative;
}

aside {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    text-align: center;
}